<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Trello</key>
	<string>https://trello.com</string>
	<key>Jira</key>
	<string>https://atlassian.com/</string>
	<key>Stackoverflow</key>
	<string>http://stackoverflow.com/unanswered/tagged/ios+iphone+objective-c+xcode+ipad+uiwebview+cocoa-touch+ios5+uiview+xcode4+ios6+uiviewcontroller+SANetworkTester+SAStepperControl+SAScrollTableViewCell</string>
	<key>Google</key>
	<string>http://google.com</string>
	<key>Github</key>
	<string>https://github.com/</string>
</dict>
</plist>
